NEXT_PUBLIC_SUPABASE_URL=https://qrzmaawstnmwytshwpon.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFyem1hYXdzdG5td3l0c2h3cG9uIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQzMjQ5MzMsImV4cCI6MjA2OTkwMDkzM30.a3ZUETCkxLHwWb2kv6cnVacm_-yIJ4A3CvwWvQEMwJY
NEXT_PUBLIC_SITE_URL=https://electrumbroadcasting.com
